h1{
    text-align: center;
    font-family: sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c";
}

.a{
    grid-area: a;
    border-top: 2px solid black;
}
.b{
    grid-area: b;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.c{
    grid-area: c;
    border-top: 2px solid black;
    padding: 20px;
}

form{
    font-family: sans-serif;
}