body{ 
    background-color: azure;
    font-family: sans-serif;
}

.container {
    /* background-color: antiquewhite; */
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-areas: "a b c d";
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.panel {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;    
}
img {
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
.cijena {
    font-size: 1.5rem;
    font-weight: 700;
    color: blue;
}
button {
    width: 100%;
    background-color: blue;
    color: azure;
    border: 0px;
    border-radius: 7px;
    padding: 7px;
}