body {
    background-color: #f0f1f0;
}

table{
    width: 50rem;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

thead th{
    background-color: azure;
    text-transform: uppercase;
}

tbody tr:hover{
    background-color: rgba(91, 250, 250, 0.445);
}

tbody tr :first-child{
    text-align: right;
}


tbody tr :last-child(2){
    text-align: center;
}

caption{
    caption-side: bottom;
}