:root{
    /*ovo je varijabla koja dry=zi boje*/
    --primarna-boja: #2c3e50;
    --naglasna-boja: #ff002b2f;
    --pozadina-svijetlo: #eae8eb;
}

body{
    /* var je funkcija*/
    background-color: var(--pozadina-svijetlo);
    background-image: radial-gradient(circle,#ff0000,1px,transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
width: 90%;
max-width: 1000px;
min-width: 300px;
inline-size: 90%;
max-inline-size: 1000px;

min-height: 100vh;
min-block-size: 100vh;

margin: 0 auto;
background-color: whitesmoke;

box-sizing: border-box;

outline-style: solid;
outline-width: 5px;
outline-color: var(--naglasna-boja);
outline-offset: 10px;
}
section{
    border: 1px solid var(--primarna-boja);
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
}