body {
font-family: "Inter", sans-serif;
background-color: #f4f4f7;
margin: 0;
padding: 20px;
color: #333;
}


h1 {
color: #065deb;
font-size: 40px;
margin-bottom: 0;
text-align: center;
font-weight: 800;
}


h2 {
color: #c62828;
text-align: center;
margin-top: 10px;
font-weight: 600;
}


.error-line {
color: #c62828;
font-family: monospace;
margin: 20px 0;
text-align: center;
}


.mono {
font-family: monospace;
}


.container {
background: white;
padding: 30px;
border-radius: 12px;
max-width: 700px;
margin: 20px auto;
}


p {
font-size: 18px;
line-height: 1.6;
}


strong {
font-weight: 700;
}


em {
font-style: italic;
}


mark {
background-color: yellow;
padding: 4px 4px;
}


.brown {
color: #f10505;
font-weight: bold;
}


footer {
text-align: center;
margin-top: 40px;
font-size: 14px;
color: #FF6600;
}